body {
  width: 390px;
  height: 812px;
}


img {

  margin-left: auto;
  margin-right: auto;



}

p {
  margin-left: auto;
  margin-right: auto;
font-family: Roboto;
font-size: 15rem;
margin: 0;
text-align: center;
}
