div {
  height: 1000px;
  background-color: white;
  justify-content: center;
  display: flex;
  padding-top: 250px;
}

.background {
  text-align: center;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}
