div {
  height: 1000px;
  background-color: white;
  justify-content: center;
  display: flex;
  padding-top: 250px;
  /*this stops annoyting iphone zoom on double touch*/
  touch-action: pan-y;
}

.background {
  text-align: center;
  /* display: block; */
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
/*this stops annoyting iphone zoom on double touch*/
  touch-action: pan-y;
}

body {
  /*this stops annoyting iphone zoom on double touch*/
  touch-action: pan-y;
}
